:root {
  --dgm-black: #0a0a0a;
  --dgm-main: #2DA72E;
  --font-heading: 'Kenia', serif;
  --font-body: 'Playfair Display', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--dgm-black);
  color: var(--dgm-main);
  font-family: var(--font-body);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}

p {
  font-family: var(--font-body);
}