---
import DGMCarCareLayout from "../../layouts/DGMCarCareLayout.astro";
---

<DGMCarCareLayout
  title="DGM Car Care | Professional Detailing"
  description="Landing page premium para servicios de detallado automotriz, con enfoque en acabados de alta gama."
>
  <main>
    <p>hola mundo</p>
  </main>
</DGMCarCareLayout>
